{% extends 'posts/base.html' %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
    <p>object list:</p>
<form method="GET" action="">
<input type='text' name="q" placeholder="Search posts" value="{{request.GET.q}}"/>
    <!--value="{{request.GET.q}} savesquery in form afrre refreshing the page-->
    <input type="submit" value="Search"/>
</form>
<p>{% for o in object_list %}</p>

<div class="row">

  <div class="col-sm-12">
    <div class="thumbnail">
        {% if o.image %}
        <img src='{{ o.image.url }}' class="img/responsive"/>
        {% endif %}
        <div class="caption">
{#        <h3><a href="{{ o.get_abs_url }}"> {{ o.title }} <small>{{ o.added|timesince }} ago</small></a><br/>#}
{#</h3>#}
        {% if o.draft %}<h3>Draft</h3>{% endif %}{% if o.publish > today %}<h3>Future Post</h3>{% endif %}
        <h3><a href="{{ o.get_abs_url }}"> {{ o.title }} <small>{{ o.publish }}</small></a><br/>
</h3>
        <p>by {{ o.user }}</p>
        <p class="content-markdown">{{ o.content|truncatechars:340}}</p>
        <p><a href="{{ o.get_abs_url }}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
<hr/>
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

</div>
{% endblock content %}
